.vs/Finger-finder/v14/.suo
FrontForm/bin/
FrontForm/obj/
data/*
!data/101_1.tif
!data/101_2.tif
!data/101_3.tif
!data/princess_is_in_another_castle.txt

FingerFinderPresenter/bin/
FingerFinderPresenter/obj/
FiingerprintAnalyzer/bin/
FiingerprintAnalyzer/obj/
